h1{
text-align:center;
}

body,form{
	font-family: 'Rubik', sans-serif;
}

form 
  text
  text-align: center;
}


table
{
   align-self: center;
   
}

td{
  font-weight: bold;
}

input{
    font-weight: bold;
}

.btn{
   width: 200px;
}